# Operating System Files
.DS_Store
Thumbs.db

# Hugo Build Outputs
exampleSite/public/
exampleSite/resources/
exampleSite/node_modules
.hugo_build.lock

# Node Dependencies
node_modules

# Environment & Secrets
.env
.env.*
.env.cloudflare
