{{/*
  IBM Carbon SideNav: Left Sidebar Container
*/}}
{{ $features := slice "navigation" }}
{{ with .Site.Params.sidebars.left.features }}
  {{ $features = . }}
{{ end }}
{{ with .Params.sidebars.left.features }}
  {{ $features = . }}
{{ end }}

<aside class="cds--side-nav cds--side-nav--expanded carbon-sidebar-left" id="carbon-sidebar-left" aria-label="{{ i18n "sidebar.navigation" | default "Section Navigation" }}">
  {{ partial "sidebars/render.html" (dict "context" . "side" "left" "features" $features) }}
</aside>
