{{/*
  IBM Carbon SideNav: Right Sidebar Container
*/}}
{{ $features := slice "toc" "metadata" "recommended" "ad" }}
{{ if eq .Params.sidebars.right.type "recommended-posts" }}
  {{ $features = slice "recommended" "metadata" "ad" }}
{{ end }}
{{ with .Site.Params.sidebars.right.features }}
  {{ $features = . }}
{{ end }}
{{ with .Params.sidebars.right.features }}
  {{ $features = . }}
{{ end }}

<aside class="cds--side-nav cds--side-nav--expanded carbon-sidebar-right" id="carbon-sidebar-right" aria-label="Table of Contents and Details">
  {{ partial "sidebars/render.html" (dict "context" . "side" "right" "features" $features) }}
</aside>
