{{ $title := .Get "title" }}
{{ $open := .Get "open" | default false }}
{{ $itemClass := "cds--accordion__item" }}
{{ if or (eq $open "true") (eq $open true) }}
  {{ $itemClass = "cds--accordion__item cds--accordion__item--active" }}
{{ end }}

<li class="{{ $itemClass }}">
  <button type="button" class="cds--accordion__heading" aria-expanded="{{ if or (eq $open "true") (eq $open true) }}true{{ else }}false{{ end }}">
    {{ partial "components/icon.html" (dict "name" "chevron--right" "size" 16 "class" "cds--accordion__arrow") }}
    {{ with $title }}<div class="cds--accordion__title">{{ . }}</div>{{ end }}
  </button>
  <div class="cds--accordion__content">
    {{ .Inner | markdownify }}
  </div>
</li>
