{{ $itemsStr := .Get "items" | default "Home (/)" }}
{{ $rawItems := split $itemsStr "," }}
{{ $class := .Get "class" }}

<cds-breadcrumb {{ with $class }}class="{{ . }}"{{ end }}>
  {{ range $idx, $item := $rawItems }}
    {{ $trimmed := trim $item " " }}
    {{ $isLast := eq (add $idx 1) (len $rawItems) }}
    
    {{/* Parse "Title (URL)" syntax */}}
    {{ $title := $trimmed }}
    {{ $url := "" }}
    {{ if findRE `\((.*?)\)` $trimmed }}
      {{ $url = replaceRE `^.*?\((.*?)\).*$` "$1" $trimmed }}
      {{ $title = replaceRE `^(.*?)\(.*?\).*$` "$1" $trimmed | trim " " }}
    {{ end }}

    <cds-breadcrumb-item
      {{ if not $isLast }}{{ with $url }}href="{{ . }}"{{ end }}{{ end }}
      {{ if $isLast }}aria-current="page"{{ end }}>
      {{ $title }}
    </cds-breadcrumb-item>
  {{ end }}
</cds-breadcrumb>
