{{ $rawType := .Get "type" | default "info" | lower }}
{{ $type := "info" }}
{{ if or (eq $rawType "success") (eq $rawType "tip") }}
  {{ $type = "success" }}
{{ else if or (eq $rawType "warning") (eq $rawType "caution") }}
  {{ $type = "warning" }}
{{ else if or (eq $rawType "error") (eq $rawType "critical") (eq $rawType "danger") }}
  {{ $type = "error" }}
{{ else }}
  {{ $type = "info" }}
{{ end }}

{{ $title := .Get "title" }}
{{ $hideIcon := .Get "hide_icon" | default false }}

<div class="cds--inline-notification cds--inline-notification--{{ $type }}" role="region" aria-label="Notification">
  {{ if not $hideIcon }}
    <div class="cds--inline-notification__icon-wrapper">
      {{ if eq $type "success" }}
        {{/* IBM Carbon CheckmarkFilled20 */}}
        <svg class="cds--inline-notification__icon" width="20" height="20" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path d="M10 1c-5 0-9 4-9 9s4 9 9 9 9-4 9-9-4-9-9-9zm-1.5 13.5L4 10l1.4-1.4 3.1 3.1 6.1-6.1L16 7l-7.5 7.5z"/>
        </svg>
      {{ else if eq $type "warning" }}
        {{/* IBM Carbon WarningFilled20 */}}
        <svg class="cds--inline-notification__icon" width="20" height="20" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path d="M10 1L1 18h18L10 1zm-1 6h2v5H9V7zm1 9.2c-.7 0-1.2-.6-1.2-1.2s.6-1.2 1.2-1.2 1.2.6 1.2 1.2-.5 1.2-1.2 1.2z"/>
        </svg>
      {{ else if eq $type "error" }}
        {{/* IBM Carbon ErrorFilled20 */}}
        <svg class="cds--inline-notification__icon" width="20" height="20" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path d="M10 1c-5 0-9 4-9 9s4 9 9 9 9-4 9-9-4-9-9-9zm3.5 11.1l-1.4 1.4-2.1-2.1-2.1 2.1-1.4-1.4 2.1-2.1-2.1-2.1 1.4-1.4 2.1 2.1 2.1-2.1 1.4 1.4-2.1 2.1 2.1 2.1z"/>
        </svg>
      {{ else }}
        {{/* IBM Carbon InformationFilled20 */}}
        <svg class="cds--inline-notification__icon" width="20" height="20" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path d="M10 1c-5 0-9 4-9 9s4 9 9 9 9-4 9-9-4-9-9-9zm0 3.5c.7 0 1.2.6 1.2 1.2s-.6 1.2-1.2 1.2-1.2-.6-1.2-1.2.5-1.2 1.2-1.2zM11.5 15h-3v-6h3v6z"/>
        </svg>
      {{ end }}
    </div>
  {{ end }}

  <div class="cds--inline-notification__content">
    {{ with $title }}
      <div class="cds--inline-notification__title">{{ . }}</div>
    {{ end }}
    <div class="cds--inline-notification__subtitle">{{ .Inner | markdownify }}</div>
  </div>
</div>
