{{ $id := .Get "id" }}
{{ $options := split (.Get "options" | default "Option 1,Option 2") "," }}
{{ $size := .Get "size" | default "md" }}
{{ $class := .Get "class" }}

<cds-content-switcher
  size="{{ $size }}"
  {{ with $id }}id="{{ . }}"{{ end }}
  {{ with $class }}class="{{ . }}"{{ end }}>
  {{ range $index, $option := $options }}
    {{ $trimmed := trim $option " " }}
    <cds-content-switcher-item
      value="{{ $trimmed | urlize }}"
      {{ if eq $index 0 }}selected{{ end }}>
      {{ $trimmed }}
    </cds-content-switcher-item>
  {{ end }}
</cds-content-switcher>
