{{ $title := .Get "title" }}
{{ $description := .Get "description" }}
{{ $href := .Get "href" }}

{{ if $href }}
  <li class="cds--contained-list__row cds--contained-list__row--clickable">
    <a href="{{ $href }}" style="display: flex; justify-content: space-between; align-items: center; width: 100%; text-decoration: none; color: inherit;">
      <div class="cds--contained-list__row-content">
        <span class="cds--contained-list__row-title">{{ $title }}</span>
        {{ with $description }}<span class="cds--contained-list__row-description">{{ . }}</span>{{ end }}
      </div>
      {{ partial "components/icon.html" (dict "name" "chevron--right" "size" 16 "class" "cds--contained-list__chevron") }}
    </a>
  </li>
{{ else }}
  <li class="cds--contained-list__row">
    <div class="cds--contained-list__row-content">
      <span class="cds--contained-list__row-title">{{ $title }}</span>
      {{ with $description }}<span class="cds--contained-list__row-description">{{ . }}</span>{{ end }}
    </div>
  </li>
{{ end }}
