{{ $label := or (.Get "label-title") (.Get "label") "Upload files" }}
{{ $description := or (.Get "label-description") (.Get "description") "Max file size is 50MB." }}
{{ $buttonLabel := or (.Get "button-label-text") (.Get "buttonLabel") "Add file" }}
{{ $accept := .Get "accept" | default "*" }}
{{ $class := .Get "class" }}

<cds-file-uploader
  label-title="{{ $label }}"
  label-description="{{ $description }}"
  button-label-text="{{ $buttonLabel }}"
  accept="{{ $accept }}"
  {{ with $class }}class="{{ . }}"{{ end }}>
  <cds-file-uploader-button></cds-file-uploader-button>
  <cds-file-uploader-container></cds-file-uploader-container>
</cds-file-uploader>
