{{ $href := .Get "href" | default "#" }}
{{ $icon := .Get "icon" | default "false" }}
{{ $inline := or (eq (.Get "inline") true) (eq (.Get "inline") "true") false }}
{{ $disabled := or (eq (.Get "disabled") true) (eq (.Get "disabled") "true") false }}
{{ $target := .Get "target" }}
{{ $class := .Get "class" }}

<cds-link
  href="{{ $href }}"
  {{ with $target }}target="{{ . }}" rel="noopener noreferrer"{{ end }}
  {{ if $inline }}inline{{ end }}
  {{ if $disabled }}disabled{{ end }}
  {{ with $class }}class="{{ . }}"{{ end }}>
  {{ .Inner | markdownify }}
  {{ if or (eq $icon "true") (eq $icon "launch") }}
    {{ partial "components/icon.html" (dict "name" "launch" "size" 16 "slot" "icon") }}
  {{ else if and $icon (ne $icon "false") }}
    {{ partial "components/icon.html" (dict "name" $icon "size" 16 "slot" "icon") }}
  {{ end }}
</cds-link>
