{{ $total := or (.Get "total-items") (.Get "total") "50" }}
{{ $page := or (.Get "page") (.Get "start") "1" }}
{{ $pageSize := or (.Get "page-size") (.Get "pageSize") "10" }}
{{ $pageSizes := split (.Get "pageSizes" | default "5,10,25,50") "," }}
{{ $class := .Get "class" }}

<cds-pagination
  total-items="{{ $total }}"
  page="{{ $page }}"
  page-size="{{ $pageSize }}"
  {{ with $class }}class="{{ . }}"{{ end }}>
  <cds-page-sizes-select slot="page-sizes-select">
    {{ range $pageSizes }}
      {{ $s := trim . " " }}
      <option value="{{ $s }}" {{ if eq $s $pageSize }}selected{{ end }}>{{ $s }}</option>
    {{ end }}
  </cds-page-sizes-select>
  <cds-pages-select slot="pages-select"></cds-pages-select>
</cds-pagination>
