{{ $value := .Get "value" | default "50" }}
{{ $max := .Get "max" | default "100" }}
{{ $label := .Get "label" | default "Progress" }}
{{ $helper := or (.Get "helper-text") (.Get "helper") }}
{{ $status := .Get "status" | default "active" }}
{{ $size := .Get "size" }}
{{ $class := .Get "class" }}

<cds-progress-bar
  value="{{ $value }}"
  max="{{ $max }}"
  label="{{ $label }}"
  {{ with $helper }}helper-text="{{ . }}"{{ else }}helper-text="{{ $value }}%"{{ end }}
  status="{{ $status }}"
  {{ with $size }}size="{{ . }}"{{ end }}
  {{ with $class }}class="{{ . }}"{{ end }}>
</cds-progress-bar>
