{{ $label := or (.Get "label-text") (.Get "label") "Radio Option" }}
{{ $value := .Get "value" | default "opt" }}
{{ $checked := or (.Get "checked") false }}
{{ $disabled := or (.Get "disabled") false }}
{{ $name := .Get "name" }}
{{ $id := .Get "id" }}
{{ $class := .Get "class" }}

<cds-radio-button
  label-text="{{ $label }}"
  value="{{ $value }}"
  {{ with $name }}name="{{ . }}"{{ end }}
  {{ with $id }}id="{{ . }}"{{ end }}
  {{ if or (eq $checked "true") (eq $checked true) }}checked{{ end }}
  {{ if or (eq $disabled "true") (eq $disabled true) }}disabled{{ end }}
  {{ with $class }}class="{{ . }}"{{ end }}>
</cds-radio-button>
