{{ $placeholder := .Get "placeholder" | default "Search..." }}
{{ $label := or (.Get "label-text") (.Get "label") "Search" }}
{{ $size := .Get "size" | default "md" }}
{{ $disabled := or (eq (.Get "disabled") true) (eq (.Get "disabled") "true") false }}
{{ $id := .Get "id" }}
{{ $class := .Get "class" }}

<cds-search
  label-text="{{ $label }}"
  placeholder="{{ $placeholder }}"
  size="{{ $size }}"
  {{ with $id }}id="{{ . }}"{{ end }}
  {{ if $disabled }}disabled{{ end }}
  {{ with $class }}class="{{ . }}"{{ end }}>
</cds-search>
