{{ $type := .Get "type" | default "text" }}
{{ $width := .Get "width" | default "100%" }}
{{ $count := .Get "count" | default 1 | int }}
{{ $class := .Get "class" }}

<div class="carbon-skeleton-wrapper{{ with $class }} {{ . }}{{ end }}" aria-hidden="true" aria-busy="true">
  {{ if eq $type "text" }}
    {{ range seq $count }}
      <cds-skeleton-text type="line" style="width: {{ $width }};"></cds-skeleton-text>
    {{ end }}
  {{ else if eq $type "heading" }}
    <cds-skeleton-text type="heading" style="width: {{ $width }};"></cds-skeleton-text>
  {{ else if eq $type "paragraph" }}
    <cds-skeleton-text type="paragraph"></cds-skeleton-text>
  {{ else if eq $type "button" }}
    <cds-button-skeleton style="width: {{ $width }};"></cds-button-skeleton>
  {{ else if eq $type "placeholder" }}
    <cds-skeleton-placeholder style="width: {{ $width }}; height: {{ .Get "height" | default "120px" }};"></cds-skeleton-placeholder>
  {{ else if eq $type "icon" }}
    <cds-skeleton-icon></cds-skeleton-icon>
  {{ else if eq $type "card" }}
    <cds-tile style="padding: 1.5rem;">
      <cds-skeleton-text type="heading" style="width: 50%;"></cds-skeleton-text>
      <cds-skeleton-placeholder style="margin: 1rem 0; height: 140px;"></cds-skeleton-placeholder>
      <cds-skeleton-text type="paragraph"></cds-skeleton-text>
      <cds-button-skeleton style="margin-top: 1rem; width: 120px;"></cds-button-skeleton>
    </cds-tile>
  {{ else }}
    <cds-skeleton-text type="line" style="width: {{ $width }};"></cds-skeleton-text>
  {{ end }}
</div>
