{{ $headers := split (.Get "headers" | default "Header 1,Header 2") "," }}
{{ $class := .Get "class" }}

<cds-structured-list {{ with $class }}class="{{ . }}"{{ end }}>
  <cds-structured-list-head>
    <cds-structured-list-header-row>
      {{ range $header := $headers }}
        <cds-structured-list-header-cell>{{ trim $header " " }}</cds-structured-list-header-cell>
      {{ end }}
    </cds-structured-list-header-row>
  </cds-structured-list-head>
  <cds-structured-list-body>
    {{ .Inner }}
  </cds-structured-list-body>
</cds-structured-list>
