{{ $name := "" }}
{{ if .IsNamedParams }}
  {{ $name = or (.Get "name") (.Get "text") }}
{{ else if gt (len .Params) 0 }}
  {{ $name = .Get 0 }}
{{ end }}
{{ $name = $name | default "tag" | strings.TrimPrefix "#" | strings.TrimSpace }}

{{ $type := .Get "type" | default "outline" }}
{{ $href := .Get "href" }}
{{ $hasTerm := false }}
{{ if site.Taxonomies.tags }}
  {{ $hasTerm = or (site.Taxonomies.tags.Get ($name | lower)) (site.Taxonomies.tags.Get ($name | urlize)) }}
{{ end }}
{{ $clickable := false }}
{{ if $href }}
  {{ $clickable = true }}
{{ else if or (eq (.Get "clickable") true) (eq (.Get "clickable") "true") }}
  {{ $clickable = true }}
{{ else if and $hasTerm (ne (.Get "clickable") false) (ne (.Get "clickable") "false") }}
  {{ $clickable = true }}
{{ end }}
{{ $showHash := true }}
{{ if or (eq (.Get "hash") false) (eq (.Get "hash") "false") }}
  {{ $showHash = false }}
{{ end }}
{{ $size := .Get "size" | default "md" }}
{{ $filter := false }}
{{ if or (eq (.Get "filter") true) (eq (.Get "filter") "true") }}
  {{ $filter = true }}
{{ end }}
{{ $icon := .Get "icon" }}

{{ $tagClasses := printf "cds--tag cds--tag--%s cds--tag--%s" $type $size }}
{{ if $filter }}
  {{ $tagClasses = printf "%s cds--tag--filter" $tagClasses }}
{{ end }}

{{ if $href }}
  <a href="{{ $href }}" class="{{ $tagClasses }} cds--tag--clickable" title="Tag: {{ $name }}">
    {{ with $icon }}{{ partial "components/icon.html" (dict "name" . "size" 12 "class" "cds--tag__custom-icon") }}{{ end }}
    {{ if $showHash }}#{{ end }}{{ $name }}
    {{ if $filter }}
      <span class="cds--tag__close-icon" aria-label="Clear tag" onclick="event.preventDefault(); this.closest('.cds--tag').remove();">
        {{ partial "components/icon.html" (dict "name" "close" "size" 12 "class" "cds--tag__close-icon-svg") }}
      </span>
    {{ end }}
  </a>
{{ else if and $clickable (not $filter) }}
  <a href="{{ partial "components/tag-url.html" $name }}" class="{{ $tagClasses }} cds--tag--clickable" title="View all pages tagged with #{{ $name }}">
    {{ with $icon }}{{ partial "components/icon.html" (dict "name" . "size" 12 "class" "cds--tag__custom-icon") }}{{ end }}
    {{ if $showHash }}#{{ end }}{{ $name }}
  </a>
{{ else }}
  <span class="{{ $tagClasses }}">
    {{ with $icon }}{{ partial "components/icon.html" (dict "name" . "size" 12 "class" "cds--tag__custom-icon") }}{{ end }}
    {{ if $showHash }}#{{ end }}{{ $name }}
    {{ if $filter }}
      <span class="cds--tag__close-icon" aria-label="Clear tag" onclick="this.closest('.cds--tag').remove();">
        {{ partial "components/icon.html" (dict "name" "close" "size" 12 "class" "cds--tag__close-icon-svg") }}
      </span>
    {{ end }}
  </span>
{{ end }}
