{{ $href := .Get "href" }}
{{ $class := .Get "class" }}
{{ $type := .Get "type" }}
{{ $selected := or (.Get "selected") false }}
{{ $id := .Get "id" }}
{{ $layer := .Get "layer" }}

{{ $layerClass := "" }}
{{ if or (eq $layer "1") (eq $layer "one") }}
  {{ $layerClass = "cds--layer-one" }}
{{ else if or (eq $layer "2") (eq $layer "two") }}
  {{ $layerClass = "cds--layer-two" }}
{{ else if or (eq $layer "3") (eq $layer "three") }}
  {{ $layerClass = "cds--layer-three" }}
{{ end }}

{{ $fullClass := delimit (slice $layerClass $class) " " | strings.TrimPrefix " " | strings.TrimSuffix " " }}

{{ if or (eq $type "selectable") $selected }}
  <cds-selectable-tile
    {{ if or (eq $selected "true") (eq $selected true) }}selected{{ end }}
    {{ with $id }}id="{{ . }}"{{ end }}
    {{ with $fullClass }}class="{{ . }}"{{ end }}>
    {{ .Inner | markdownify }}
  </cds-selectable-tile>
{{ else if or $href (eq $type "clickable") }}
  <cds-clickable-tile
    href="{{ $href | default "#" }}"
    {{ with .Get "target" }}target="{{ . }}"{{ end }}
    {{ with $id }}id="{{ . }}"{{ end }}
    {{ with $fullClass }}class="{{ . }}"{{ end }}>
    {{ .Inner | markdownify }}
  </cds-clickable-tile>
{{ else if or (eq $type "expandable") (.Get "expanded") }}
  <cds-expandable-tile
    {{ if or (eq (.Get "expanded") true) (eq (.Get "expanded") "true") }}expanded{{ end }}
    {{ with $id }}id="{{ . }}"{{ end }}
    {{ with $fullClass }}class="{{ . }}"{{ end }}>
    {{ .Inner | markdownify }}
  </cds-expandable-tile>
{{ else }}
  <cds-tile
    {{ with $id }}id="{{ . }}"{{ end }}
    {{ with $fullClass }}class="{{ . }}"{{ end }}>
    {{ .Inner | markdownify }}
  </cds-tile>
{{ end }}
