{{ $type := .Get "type" | default "info" }}
{{ $caption := .Get "caption" }}

<div class="cds--toast-notification cds--toast-notification--{{ $type }}" role="status" aria-live="polite">
  <div class="cds--toast-notification__content">
    {{ with .Get "title" }}
      <div class="cds--toast-notification__title">{{ . }}</div>
    {{ end }}
    <div class="cds--toast-notification__subtitle">{{ .Inner | markdownify }}</div>
    {{ with $caption }}
      <div class="cds--toast-notification__caption">{{ . }}</div>
    {{ end }}
  </div>
  <button type="button" class="cds--toast-notification__close-button" aria-label="Close notification" onclick="this.closest('.cds--toast-notification').remove();">
    {{ partial "components/icon.html" (dict "name" "close" "size" 16 "class" "cds--toast-notification__close-icon") }}
  </button>
</div>
