{{ $kind := or (.Get "kind") (.Get "type") "info" }}
{{ $title := .Get "title" }}
{{ $caption := .Get "caption" }}
{{ $hideClose := or (eq (.Get "hide-close-button") true) (eq (.Get "hide-close-button") "true") false }}
{{ $timeout := .Get "timeout" }}
{{ $class := .Get "class" }}

<cds-toast-notification
  kind="{{ $kind }}"
  {{ with $title }}title="{{ . }}"{{ end }}
  {{ with $caption }}caption="{{ . }}"{{ end }}
  {{ with $timeout }}timeout="{{ . }}"{{ end }}
  {{ if $hideClose }}hide-close-button{{ end }}
  {{ with $class }}class="{{ . }}"{{ end }}>
  <div slot="subtitle">{{ .Inner | markdownify }}</div>
</cds-toast-notification>
