{{ $id := .Get "id" }}
{{ $label := or (.Get "label-text") (.Get "label") "Toggle" }}
{{ $labelA := or (.Get "label-a") (.Get "label_off") }}
{{ $labelB := or (.Get "label-b") (.Get "label_on") }}
{{ $checked := or (.Get "checked") false }}
{{ $disabled := or (.Get "disabled") false }}
{{ $size := .Get "size" | default "md" }}
{{ $class := .Get "class" }}

<cds-toggle
  {{ with $id }}id="{{ . }}"{{ end }}
  label-text="{{ $label }}"
  {{ with $labelA }}label-a="{{ . }}"{{ end }}
  {{ with $labelB }}label-b="{{ . }}"{{ end }}
  size="{{ $size }}"
  {{ if or (eq $checked "true") (eq $checked true) }}checked{{ end }}
  {{ if or (eq $disabled "true") (eq $disabled true) }}disabled{{ end }}
  {{ with $class }}class="{{ . }}"{{ end }}>
</cds-toggle>
