{{ $label := or (.Get "label-text") (.Get "label") (.Get 0) "Node" }}
{{ $value := .Get "value" | default ($label | urlize) }}
{{ $expanded := or (eq (.Get "expanded") true) (eq (.Get "expanded") "true") false }}
{{ $selected := or (eq (.Get "selected") true) (eq (.Get "selected") "true") false }}
{{ $id := .Get "id" }}
{{ $class := .Get "class" }}

<cds-tree-node
  label-text="{{ $label }}"
  value="{{ $value }}"
  {{ with $id }}id="{{ . }}"{{ end }}
  {{ if $expanded }}expanded{{ end }}
  {{ if $selected }}selected{{ end }}
  {{ with $class }}class="{{ . }}"{{ end }}>
  {{ .Inner }}
</cds-tree-node>
